.flex {
    display: flex;
    flex-wrap: nowrap;
    /* Prevent wrapping */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
    z-index: 10000;
}

aside {
    display: block;
    top: 0;
}

.materi_pelajaran {
    width: 100%;
    margin: 0 auto;
}

.courseVideos {
    height: inherit;
}
