/* styleforgot.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #d7efff, #a6d6f7);
    text-align: center;
}

.forgot-password-container {
    background-image: linear-gradient(#72C5E0,white,#72C5E0,white,#72C5E0);
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    font-size: 22px;
    font-weight: bold;
}

p {
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;;
}

label {
    display: block;
    font-size: 14px;
    text-align: left;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    width: 100%;
    padding: 10px;
    background: #2d89ef;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.btn:hover {
    background: #2060c0;
}

.back-to-login {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: #000;
    text-decoration: none;
}

.back-to-login:hover {
    text-decoration: underline;
}
